#login-bg-img{
  min-height: 100vh;
  background-clip: content-box;
  background-attachment: fixed;
  background-size: cover;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
}
